@model IEnumerable<MIS421FinalProject.Models.MyExercise>

@{
    ViewData["Title"] = "Index";
}

<h1>My Workouts</h1>


<div class='dateContainer'>
    <a class="btn mx-2 datebtn" onclick="deleteDay()"><i class="fa fa-angle-left" color="white"></i></a>
    <input type='date' id='dateSelector' onchange="limitTableData()" value='' />
    <a class="btn mx-2 datebtn" onclick="addDay()"><i class="fa fa-angle-right" color="white"></i></a>
</div>
<script>
    function addDay(){
        var date = new Date(document.getElementById('dateSelector').value)
        date.setDate(date.getDate() + 2);
        var newDate = date.toDateInputValue()
        console.log('New Date' + newDate)
        document.getElementById('dateSelector').value = newDate;
        limitTableData()
        console.log(new Date())
    }
    function deleteDay(){
        var date = new Date(document.getElementById('dateSelector').value)
        date.setDate(date.getDate());
        var newDate = date.toDateInputValue()
        console.log('New Date' + newDate)
        document.getElementById('dateSelector').value = newDate;
        limitTableData()
    }
    //Handle setting the initial date
    Date.prototype.toDateInputValue = (function() {
    var local = new Date(this);
    local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
    return local.toJSON().slice(0,10);
    });
    document.getElementById('dateSelector').value = new Date().toDateInputValue()
</script>
<table class="table" id="mainTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercise)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exercise.Name)
            </td>
            <td>
                <!--<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | -->
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn mx-2 addbtn"><i class="fa fa-plus" color="white"></i></a>
</p>
