@model MIS421FinalProject.Models.Exercise

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.caloriesBurned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.caloriesBurned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExplanationURL)
        </dt>
        <dd class = "col-sm-10">
            <a href=@Html.DisplayFor(model => model.ExplanationURL)>Walkthrough URL</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class = "col-sm-10">
            @if(Model.image != null)
                    {
                        var base64 = Convert.ToBase64String(Model.image);
                        var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        <img src="@imgsrc" height="100" width="100" />
                    }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
