@model IEnumerable<MIS421FinalProject.Models.MyFood>

@{
    ViewData["Title"] = "Index";
}

<h1>My Foods</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food.Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food.Protein)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food.Carbs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Food.Fat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food.Calories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food.Protein)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food.Carbs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Food.Fat)
            </td>
            <td>
                <!--<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | -->
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn mx-2 addbtn"><i class="fa fa-plus" color="white"></i></a>
</p>
