@model MIS421FinalProject.Views.FoodExerciseVM
@using MIS421FinalProject.Data
@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity;
@{
    var curDateArray = TimeZoneInfo.ConvertTime(DateTime.Now, TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time")).ToString("MM/dd/yyyy").Split('/');
    String currentDate = int.Parse(curDateArray[0]).ToString() + '/' + int.Parse(curDateArray[1]).ToString() + '/' + int.Parse(curDateArray[2]).ToString();

    string getCleanDate(string date)
    {
        var arr = date.Split('/');
        var retDate = arr[0] + '/' + arr[1] + '/' + arr[2].Substring(0, 4);
        return retDate;
    }
}


<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h3 class="display-4">Welcome @User.Identity.Name</h3>
        @if (User.IsInRole(SD.Admin))
        {
            <button id="myBtn">Add Admin Account</button>
        }
        <div class='row'>
        <div class='column'>
                @{
                    int totalProtein = 0;
                    int totalFats = 0;
                    int totalCarbs = 0;
                    int totalCalories = 0;
                    foreach(var item in Model.MyFoods)
                    {
                      
                        if(currentDate == getCleanDate(item.Time.ToString())){
                            totalCalories += item.Food.Calories.GetValueOrDefault();
                            totalProtein += item.Food.Protein.GetValueOrDefault();
                            totalCarbs += item.Food.Carbs.GetValueOrDefault();
                            totalFats += item.Food.Fat.GetValueOrDefault();
                        }
                    }
        <h3>Food</h3>
        <div id="piechart" style="width: auto; height: 200px">
        </div>
        <h5>Total Calories: @totalCalories</h5>
        <h5>Total Protein: @totalProtein</h5>
        <h5>Total Carbs: @totalCarbs</h5>
        <h5>Total Fats: @totalFats</h5>
                    <a class="btn btn-dark" href="MyFoods" style="margin-top: 30px">Click Here to See More</a>
                }
            </div>
            <div class='column'>
                <h3>Exercises</h3>
                <table id="dt" style="height: 250px">
                    <thead>
                        <tr>
                            <th>Exercise Name:</th>
                            <th>Exericse Time:</th>
                            <th>Calories Burned:</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{
                            int totalCaloriesBurned = 0;
                            foreach(var item in Model.MyExercise)
                            {
                                if (currentDate == getCleanDate(item.Time.ToString()))
                                {
                                    totalCaloriesBurned += item.Exercise.caloriesBurned;
                                    <tr>
                                        <td>@item.Exercise.Name</td>
                                        <td>@item.Time</td>
                                        <td>@item.Exercise.caloriesBurned</td>
                                    </tr>
                                }
                            }
                            int calorieBalance = totalCalories - totalCaloriesBurned;
                        }
                
                </tbody>
                </table>
                <h5>Total Calories Burned: @totalCaloriesBurned</h5>
                <a class="btn btn-dark" href="MyExercises">Click Here to See More</a>
        </div>
        </div>
        <h4>Caloric Balance: @calorieBalance</h4>

<script type='text/javascript'>
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Nutrition', 'Amount'],
          ['Protein',     @totalProtein],
          ['Carbs',      @totalCarbs],
          ['Fats',  @totalFats]
        ]);

        var options = {
          title: 'Food Intake'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);

        $(document).ready( function () {
            $('#dt').DataTable({searching: false, paging: false});
            } );
      }
</script>

            
            <div id="myModal" class="modal">

                <!-- Modal content -->
            <div class="modal-content">
            <span class="close">&times;</span>
                <p>Please enter new Admin User Credentials Below:</p>
                <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group"  style="padding-left: 25%; padding-right: 25%">
                    <label class="control-label">New Username:</label>
                    <input type="text" id="username" name="username" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group" style="padding-left: 25%; padding-right: 25%">
                    <label class="control-label">New Password:</label>
                    <input type="text" id="password" name="password" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group" style="padding: 20px">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                </form>
            </div>

            </div>

            <script>
                  // Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
            </script>

    } else
    {
        <h1 class="display-4">Welcome To Swoll Patrol</h1>
        <h6>a food and exercise tracker made with ASP.NET Core by Hunter, Tristan, and Zach.</h6>
        <p>Please Login to start tracking Food and Exercises.</p>
        <img src="https://c.tenor.com/vfWHfKqW_7MAAAAC/flex-larry.gif" />
    }
</div>
